.THIS .successMessageCls{color: green;}

.THIS .slds-form-element__control {
    width:100%;
}
.THIS .slds-form-element__label{
    display:none;
}
.THIS .slds-button{
    height:25px;
}
.THIS .addButton{
    margin-top:6px;
    color:blue;
}

.THIS .slds-spinner_container{
    height:100px;
    margin-top:100px;
}

.THIS .slds-tabs_scoped__content{
    height:280px;
    padding-top:0px;
}
/*@media screen and (min-width: 1200px) {
    .THIS .icon{
        padding-right: 230px;
    }
}*/
@media (max-width: 1370px){
    .THIS .icon{
         padding-right: 240px;
    }
}
@media screen and (min-width: 1500px) and (max-width: 2800px) {
    .THIS .icon{
         padding-right: 240px;
    }
}